Warning: The lock file is not up to date with the latest changes in pyproject.toml. You may be getting outdated dependencies. Run update to update them.
cycler==0.11.0; python_version >= "3.7"
fonttools==4.33.3; python_version >= "3.7"
kiwisolver==1.4.3; python_version >= "3.7"
matplotlib==3.5.2; python_version >= "3.7"
numexpr==2.8.1; python_version >= "3.6"
numpy-stl==2.17.1
numpy==1.22.4; python_version >= "3.8"
opencv-python==4.6.0.66; python_version >= "3.6"
packaging==21.3; python_version >= "3.7"
pandas==1.4.2; python_version >= "3.8"
pillow==9.1.1; python_version >= "3.7"
pyparsing==3.0.9; python_full_version >= "3.6.8" and python_version >= "3.7"
python-dateutil==2.8.2; python_version >= "3.8" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.8"
python-utils==3.3.3; python_full_version > "3.6.0"
pytz==2022.1; python_version >= "3.8"
setuptools-scm==6.4.2; python_version >= "3.7"
six==1.16.0; python_version >= "3.8" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.8"
snntorch==0.5.1; python_version >= "3.6"
tables==3.7.0; python_version >= "3.6"
tomli==2.0.1; python_version >= "3.7"
torch==1.11.0; python_full_version >= "3.7.0" and python_version >= "3.6"
typing-extensions==4.2.0; python_full_version >= "3.7.0" and python_version >= "3.7"
