cycler==0.11.0; python_version >= "3.7"
fonttools==4.37.1; python_version >= "3.7"
h5py==3.7.0; python_version >= "3.7"
kiwisolver==1.4.4; python_version >= "3.7"
matplotlib==3.5.3; python_version >= "3.7"
noise==1.2.2
numexpr==2.8.3; python_version >= "3.7"
numpy-stl==2.17.1
numpy==1.23.3; python_version >= "3.8"
opencv-python==4.6.0.66; python_version >= "3.6"
packaging==21.3; python_version >= "3.7"
perlin-numpy @ git+https://github.com/pvigier/perlin-numpy@master ; python_version >= "3"
pillow==9.2.0; python_version >= "3.7"
pyparsing==3.0.9; python_full_version >= "3.6.8" and python_version >= "3.7"
python-dateutil==2.8.2; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.7"
python-utils==3.3.3; python_full_version > "3.6.0"
setuptools-scm==6.4.2; python_version >= "3.7"
six==1.16.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.7"
tables==3.7.0; python_version >= "3.6"
tomli==2.0.1; python_version >= "3.7"
torch==1.12.1; python_full_version >= "3.7.0"
typing-extensions==4.3.0; python_version >= "3.7" and python_full_version >= "3.7.0"
